@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
:root{
    --Cyan: hsl(180, 66%, 49%);
    --DarkViolet: hsl(257, 27%, 26%);
    --Gray: hsl(0, 0%, 75%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
    --pipons:'Poppins', sans-serif;

}
body{
    padding: 2rem 0 0 0;
    font-family: var(--pipons);
    height: auto;
   
    
    

}
.desactiv{
    display: none;

}
.headeR{

    height: auto;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 1.5rem 0 1.5rem;

}
.headeR__contein{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    
}
.headeR__hamburger{
    width: 35px;
}



.headeR__nav{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: var(--DarkViolet);
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    .headeR__subn{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        padding: 1.8rem 0 1.8rem 0;
        width: 78%;
        border-bottom: solid 1px var(--GrayishViolet);
        
        p{
            cursor: pointer;
            height: 50px;
            
        }
        
    }
    .headeR__subl{
        display: flex;
        flex-direction: column;
        
        gap: 0.5rem;
        width: 75%;
        padding: 1.8rem 0 1.8rem 0;
        height: 200px;
        
        .uno{
            background-color: transparent;
            font-size: 30px;
            height: 75px;
        
        }
        .dos{
            background-color:var(--Cyan);
            font-size: 30px;
            height: 75px;
            
        }
    }

    
}



.headeR__subl-bton{
    height: 70px;
    width: 100%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: var(--pipons);
    font-size: 25px;
    color:#fff;
    font-weight: 700;
}
.Started{
    max-width: 750px;
    height: 53.125rem;
   
    margin: 0 auto;
    padding: 0 1.5rem 0 1.5rem;
    z-index: 1;

}
.Started__img{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
    
   
    img{
        width:150%;
        position: relative;
        
        z-index: 2;
    }
}
.Started__text{
    text-align: center;
    h2{
        font-size: 35px;
        font-weight: 800;
        color: var(--VeryDarkViolet);
        margin: 0;
    }
    p{
        color: var(--GrayishViolet);
    }
}
.Started__bton{
    width: 50%;
    background-color: var(--Cyan);
    margin-top: 1.5rem;

}
.Links__section{
    max-width: 750px;
    height: min-content;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: hsl(0, 0%, 95%);
    position: relative;
    a{
        cursor: pointer;
        
    
    
    }
    
   
    


}




.Links__formulario{
    position: relative;
    bottom: 125px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    gap: .5rem;
    border-radius: 15px;
    background: url(/images/bg-shorten-mobile.svg) no-repeat right -2.5rem / contain,var(--DarkViolet) ;
    
   
 
   
  
    input{
        width: 100%;
        height: 3.5rem;
        position: relative;
        border: none;
        border-radius: .3rem;
        &::placeholder{
         font-family: var(--pipons);
         text-align: center;
         font-weight: 500;
        }
        &:focus{
            outline:3px solid var(--Cyan);
        
        }
    }
    button{
        width: 100%;    
        height: 3.5rem ;
        border: none;
        border-radius: 0;
        background-color: var(--Cyan);
        border-radius: .3rem;
    }
    
}
.errorINPUT{
    color: red;
  
    
    
}

.Links__copy{
    position:relative;
    top: -75px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2.5px;
    font-size: 15px;
}
.Links__copy-url{
    display: flex;
    align-items: center;
    max-height: 100px;
    font-size:20px ;
    
    
    border-bottom: solid 2px var(--Gray);
    padding: .6rem 1rem .6rem 1rem;
    color: var(--DarkViolet);
    p{
    width: 100%;
    
    }
    
    
   
    

}
.Links__copy-bt{
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-evenly;
    color: var(--Cyan);
    a{
        color: var(--Cyan);
        font-size: 20px;
        width: fit-content;
    
    }
    button{
     font-size: 20px;    
    }
   
}
.Links__copy-bton{
    width: 100%;
    height: 3rem ;
    border: none;
    border-radius: 0;
    background-color: var(--Cyan);
    border-radius: .3rem;
    font-family: var(--pipons);
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 1s ease;
    &:hover{
        background-color: var(--GrayishViolet);
         
    
    }

}
.statistics{
    position: relative;
    padding: 0 1.5rem 5rem 1.5rem;
    text-align: center;
    color: var(--DarkViolet);
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 750px;
    margin: 0 auto;
    z-index:1;
  
}
.statistics__ttle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3{
        font-size: 32px;
    }
    p{
        font-size: 18px;
    
    } 
}

.statistics__contein{
    background-color: var(--VeryDarkB);
    z-index:1;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.statistics__info{
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
    z-index:1;
    padding: 0 1rem 1.5rem 1rem;
    

    .redondo{
        position: relative;
        bottom: 50px;
        background-color: var(--DarkViolet);
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index:3;
    }
    h3{
        margin-bottom: 1rem;
        font-size: 1.75rem;
    }
    p{
        color: var(--GrayishViolet);
    }
    

}

.lineaV{
    content: "";
    position: absolute;
    top:300px ; 
    bottom: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: .6rem;
    background-color:var(--Cyan);
    z-index: -1;
}

.btnBottom{
    height: 20rem;
    background-image: url(/images/bg-boost-mobile.svg);
    background-color: var(--DarkViolet);
    color: #fff;
    background-size:100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: larger;
    button{
        width: 12.5rem;
        height: 4rem;
        border: none;
        border-radius: 35px;
        font-family: var(--pipons);
        font-weight: 800;
        font-size: large;
        background-color: var(--Cyan);
        color: #fff;
        cursor: pointer;
    }
}
.Foter{
    background-color: var(--VeryDarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 25px;

}
.Foter__navs{
    display: flex;
    flex-direction: column;
    gap: 18px;

}
.Foter__navs-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    h4{
        font-size: 28px;
        color: #fff;
    }
    a{
        color: var(--GrayishViolet);
        text-decoration: none;
        font-size: 24px;
    
    }

}
.Foter__social{
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
    img{
        width: 42px;
    }

}
@media(min-width:550px){
    .Started__img{
       
        z-index: 3;
        
       
        img{
            max-height:552px;
            margin: 0 auto;
            width:125%;
            position: relative;
            
            z-index: 2;
        }
    }
    
}

@media(min-width:1000px){
    body{
        overflow-x: hidden;
    
    }
    .headeR{
       max-width: 1250px;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       gap: 25px;
       margin-bottom: 2rem;
        
    }
    .headeR__contein{
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        
    }
    .headeR__hamburger{
        display: none;
    }
    
    .desactiv{
        width: 100%;
        margin: 0 auto;
       
        color:var(--GrayishViolet);
        font-weight: 600;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
        
        .headeR__subn{
            font-size: 20px;
            display: flex;
            flex-direction: row;
           gap: 25px;
            p{
                cursor: pointer;
               &:hover{
                color: var(--VeryDarkBlue);
               
               } 
                
            }
            
        }
        .headeR__subl{
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 0.5rem;
            width: 40%;
            
            .uno{
                background-color: transparent;
                font-size: 20px;
                color:var(--VeryDarkB);
                height: auto;
                max-width: 155px;
                &:hover{
                    color: var(--VeryDarkBlue);
                }
            }
            .dos{
                background-color:var(--Cyan);
                font-size: 20px;
                max-width: 158px;
               
                &:hover{
                    background-color: var(--Gray);
                }
                
            }
        }
    
        
    }
    
    .Started{
        max-width: 1250px;
        display: flex;
        max-height: 600px;
        padding: 0 1.5rem 0 1.5rem;
    
    }
    .Started__img{
        order: 2;
        max-width: 50%;
        overflow: visible;
    
    }
    .Started__text{
        margin-top: 50px;
        text-align: left;
        font-size: 22px;
        h2{
            font-size: 45px;
           
        }
        button{
            max-width: 200px;
            &:hover{
                background-color: var(--Gray);
            
            }
            
        }
    
    
    }
    
    .Links__section{
        max-width: 100%;
        
        
       
    
    }
    .Links__formulario{
        
        flex-direction: row;
        background: url(/images/bg-shorten-desktop.svg) no-repeat center / cover ,var(--VeryDarkBlue);
        z-index: 5;
        bottom: 85px;
       
        
        input{
            width: 100%;
        }
        button{
            width: 20%;
            &:hover{
                background-color: var(--Gray);
            
            }
        }
    }
    
    .Links__copy{
       margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .Links__copy-url{
        border: none;
        width: 50%;
    }
    .Links__copy-bt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        height: 4rem;
        gap: 1rem;
        width: 50%;
        padding: 0 1rem 0 0;
    }
    .Links__copy-bton{
        max-width: 155px;  
    }
    
    .errorINPUT{
        position: absolute;
      
        bottom: 0;
        
    }  
    .statistics{
        max-width: 100%;
    }
    .statistics__contein{
        flex-direction: row;
        height: 26rem;
        gap: 3rem;
        .a{
            align-self: flex-start;
        }
        .b{
            align-self: center;
        }
        .c{
            align-self: flex-end;
        
        }
       
    
    }
    .lineaV{
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        background-color:var(--Cyan);
        z-index: -1;
        transform: rotate(90deg);
    }
    .statistics__info{
        height: max-content;
        max-height: 410px;
        
    }
    .btnBottom{
        font-size: 30px;
        background-image: url(/images/bg-boost-desktop.svg);
        button {
            width: 13.5rem;
            height: 4.5rem;
            border: none;
            border-radius: 45px;
            font-family: var(--pipons);
            font-weight: 800;
            font-size: 28px;
            
        }
        
        
    }
    .Foter {
        flex-direction: row;
        justify-content: space-evenly;
        align-items:start;
        gap: 25px;
        padding-top: 3.5rem;
        min-height: 22.3125rem;
        h4{
            padding-bottom: 1.5rem;
        }
       
    .Foter__navs {
        flex-direction: row;
        gap: 35px;
    }
    .Foter__navs-text {
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 15px;
      }
    
}
    @media (min-width:1200px) {
        .Started__img{
            img{
                max-width:725px;
                margin: 0 auto;
                width:125%;
                position: relative;
                
                z-index: 2;
            }
        }
        
    }
    @media (min-width:1350px) {
        .Links__formulario{
            inset: 0;
            margin: auto;
            width: 1300px;
            transform: translateY(-80%);
        
        }
    }
    
}

